@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0px;
}

@keyframes animation-slide {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.reviews .container {
  position: relative;
}
@media screen and (max-width: 767px) {
  .reviews .container {
    padding-top: 154px;
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .container {
    padding-top: 279px;
    padding-bottom: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .container {
    padding-top: 382px;
    padding-bottom: 217px;
  }
}

.reviews-collage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .reviews-collage {
    top: -48px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-collage {
    top: -106px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-collage {
    top: -162px;
  }
}

.visualhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.reviews-slider-image {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .reviews-slider-image {
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-slider-image {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-slider-image {
    margin-bottom: 15px;
  }
}

.reviews-slider-description {
  position: relative;
  z-index: 1;
  padding-top: 47px;
  background-color: #fafafa;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.reviews-slider-description::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 54px;
  height: 40px;
  fill: #e1e1e1;
  background-image: url(/qoutes.af6479ec.svg);
}
@media screen and (max-width: 767px) {
  .reviews-slider-description::before {
    top: 28px;
    left: 61px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-slider-description::before {
    top: 30px;
    left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-slider-description::before {
    top: 32px;
    left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .reviews-slider-description {
    margin-bottom: 30px;
    padding-top: 43px;
    padding-right: 66px;
    padding-left: 57px;
    background-image: url(/group36.0a05117a.svg);
    background-position-y: 71px;
    font-size: 12px;
    line-height: 2.58;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews-slider-description {
    width: 620px;
    margin-bottom: 24px;
    padding-right: 80px;
    padding-bottom: 34px;
    padding-left: 80px;
    background-image: url(/group30.dfe46677.svg);
    background-position-y: 26px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-slider-description {
    width: 926px;
    margin-bottom: 15px;
    padding-right: 89px;
    padding-bottom: 39px;
    padding-left: 87px;
    background-image: url(/group27.cefc2b01.svg);
    background-position-y: 34px;
    font-size: 16px;
    line-height: 1.87;
  }
}

.reviews-slider-svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .reviews-slider-svg {
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-slider-svg {
    margin-bottom: 14px;
  }
}

.reviews-slider-name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .reviews-slider-name {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 768px) {
  .reviews-slider-name {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.87;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-slider-name {
    font-size: 20px;
    line-height: 1.85;
  }
}

.slider-radio-btn {
  display: none;
}

.reviews-slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: none;
  width: 100%;
}

.reviews-slider-controls {
  display: flex;
  justify-content: center;
}
.reviews-slider-controls label {
  cursor: pointer;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: background-color 250ms linear;
}
.reviews-slider-controls label:not(:last-child) {
  margin-right: 18px;
}

.check-svg {
  display: block;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 250ms linear;
}

.reviews-slider-controls label:hover,
.reviews-slider-controls label:focus,
#slide1:checked ~ .reviews-slider-controls label:nth-of-type(1),
#slide2:checked ~ .reviews-slider-controls label:nth-of-type(2),
#slide3:checked ~ .reviews-slider-controls label:nth-of-type(3) {
  background-color: transparent;
}
.reviews-slider-controls label:hover .check-svg,
.reviews-slider-controls label:focus .check-svg,
#slide1:checked ~ .reviews-slider-controls label:nth-of-type(1) .check-svg,
#slide2:checked ~ .reviews-slider-controls label:nth-of-type(2) .check-svg,
#slide3:checked ~ .reviews-slider-controls label:nth-of-type(3) .check-svg {
  opacity: 1;
}

#slide1:checked ~ .reviews-slider > .review-slide1,
#slide2:checked ~ .reviews-slider > .review-slide2,
#slide3:checked ~ .reviews-slider > .review-slide3 {
  display: block;
  animation-name: animation-slide;
  animation-duration: 250ms;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */