<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>parcel-project-template</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css" />
  <link rel="stylesheet" href="./css/main.min.css" />
</head>

<body class="page">
  <!--Шапка-->
  <header>
    <div class=" main-nav container">
      <nav class="navigation">
        <a href="./index.html"><img srcset="" 
     src="./images/.jpg" 
     alt="Logo" 
     width="199" 
     height="50" /></a>
        
        <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button> 
          <svg width="20" height="12" aria-label="Переключатель мобильного меню">
            <use class="menu-button-cross" href="./images/sprite.svg#"></use>
            <use class="menu-button-menu" href="./images/sprite.svg#"></use>
          </svg>
        </button>
        <div class="menu-container" id="menu-container" data-menu>
          <ul class="sait-nav list">
            <li class="sait-nav-item"><a href="" class="sait-nav-link" id="Home">Home</a></li>
            <li class="sait-nav-item"><a href="" class="sait-nav-link" id="About us">About us</a></li>
            <li class="sait-nav-item"><a href="" class="sait-nav-link" id="How it’s made?">How it’s made?</a></li>
            <li class="sait-nav-item"><a href="" class="sait-nav-link" id="Our products">Our products</a></li>
            <li class="sait-nav-item"><a href="" class="sait-nav-link" id="Contact">Contact</a></li>
          </ul>
       </nav>
       <a href="" class="button-all" aria-label="Buy">
        Buy now
        <svg class="">                      
          <use href="./images/sprite.svg#"></use>
        </svg>
      </a>
      </div>
  </header>
</body>
</html>