<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>parcel-project-template</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css" />
  <link rel="stylesheet" href="./css/main.min.css" />
</head>

<body class="page">
  <!--Уникальный контент-->
  <main>
    <!--Секция №1 Герой-->
    <section class="hero">
      <h1 class="title-hero">ice cream made with passion</h1>
      <a href="" class="button-all">Products</a>
      <a href="" class="button-all">How it’s made?</a>
      <img srcset="" src="./images/.jpg" alt="Milk" width="188" height="191" />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <a href="" class="link-icon">
        <svg class="link-icon-svg">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </a>
      <img srcset="" src="./images/.jpg" alt="Ellipse" width="538" height="538" />
      <img srcset="" src="./images/.jpg" alt="Ice-cream" width="236" height="557" />
      <p>16</p>
      <p>cafes</p>
      <img srcset="" src="./images/.jpg" alt="Ellipse" width="30" height="30" />
      <p>23</p>
      <p>food trucks</p>
      <img srcset="" src="./images/.jpg" alt="Ellipse" width="30" height="30" />
      <img srcset="" src="./images/.jpg" alt="Girl" width="293" height="232" />
    </section>
  </main>
</body>
</html>